# --- Node.js ---
node_modules/
dist/
build/
.out/
.next/
.cache/
*.log

# --- TypeScript compiled files ---
*.tsbuildinfo
**/*.js
**/*.jsx
**/*.map

# --- Vite / Webpack ---
vite.config.js
vite.config.ts
webpack.config.js

# --- Editor settings ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# --- Local env files ---
.env
.env.local
.env.*.local

# --- Misc ---
*.local
