@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {
  position: relative;
  width: 640px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 32px;

  &__back {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -44px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: #dfdddd;
    }
    &:active {
      background-color: #EBE6FF;
    }
  }

  &__title {
    @include font-header();
  }

  &__actions {
    display: flex;
    gap: 4px;
  }

  &__icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    cursor: pointer;
    background-color: transparent;
    transition: background 0.2s ease;
    border: none;
    
    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: #dfdddd;
      border-radius: 8px;
    }
  }
}
