// color ---------------------------------
$white-100: #fff;
$white-95: rgb(255, 255, 255, 0.95);
$white-20: rgb(255, 255, 255,0.2);
$black-80: rgb(0, 0, 0, 0.8);
$black-3: rgb(0, 0, 0, 0.03);
$black-5: rgb(0, 0, 0, 0.05);
$black-50: rgb(0, 0, 0, 0.5);
$black-30: rgb(0, 0, 0, 0.3);
$black-20: rgb(0, 0, 0, 0.2);
$brand-primary: #3B3B3B;
$brand-secondary: #6D4AFF;
$brand-variant: #6243E6;
$assistitive-focus: #35CDFD;

$border-color: #ddd;
$primary-color: #ffffff;
$secondary-color: #000000;
$accent-color: #3B82F6;
$dark-gray: #2c2c2c;
$text-light: #aaa;

// ui -------------------------------------
$border-radius: 8px;

// tipography -----------------------------
$font-family: 'Segoe UI', sans-serif;
