.makeup {
	width: 100%;
	height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
	max-width: 500px;
	margin: 0 auto;
}
.scene {
	perspective: 500px;
}
.pallet {
	position: relative;
	width: 500px;
	height: 500px;
    margin-top: 30%;
	opacity: 1;
	transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}
.makeup-brush {
    width: 3px;
    height: 3px;
    opacity: 0;
    transform: translateX(100px) translateY(92px) rotateZ(90deg);
    animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: normal;
    transition-timing-function: ease-out;
    animation-name: brush-animation;
}
.makeup-women {
    width: 3px;
    height: 3px;
}
.women-part {
    width: 200px;
    height: 200px;
    transform: translateX(-100px) translateY(-94px);
    opacity: 0;
    animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: normal;
    transition-timing-function: ease-out;
    animation-name: women-animation;
}
.circle {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: rgb(254, 254, 254);
	position: absolute;
	transform: translateX(0) translateY(0);
}
.circle-part1 {
    background-color: turquoise;
    transform: translateX(0px) translateY(10px);
}
.circle-part2 {
    background-color: rgb(91, 64, 224);
    transform: translateX(40px) translateY(10px);
}
.circle-part3 {
    background-color: rgb(224, 64, 213);
    transform: translateX(80px) translateY(10px);
}
.circle-part4 {
    background-color: rgb(252, 255, 80);
    transform: translateX(-40px) translateY(10px);
}
.circle-part5 {
    background-color: rgb(64, 101, 224);
    transform: translateX(-80px) translateY(10px);
}
.set {
    width: 198px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #00137c;
    background-color: #0328FC;
	position: absolute;
    top: 30%;
    left: 50%;
    display: flex;

    transform: rotateX(50deg) translate(-50%, -50%);
    animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: normal;
    transition-timing-function: ease-out;
    animation-name: set-animation;
}
.set-part {
    width: 38px;
    height: 38px;
    border: 1px solid #00137c;
    background-color: #2142fc;
}
.set-part1 {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));

	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: normal;
    transition-timing-function: ease-out;
}
.set-part1-animation {
    animation-name: set-part1-animation;
    border: 1px solid #d0008e;
    background-color: #FF59CA;
}

.set-part2-animation {
    animation-name: set-part2-animation;
    border: 1px solid rgb(114, 0, 78);
    background-color: #C80087;
}
.set-part3-animation {
    animation-name: set-part3-animation;
    border: 1px solid rgb(112, 67, 67);
    background-color: #5f3432;
}
.set-part4-animation {
    animation-name: set-part4-animation;
    border: 1px solid #930137;
    background-color: #CD004B;
}
.set-part5-animation {
    animation-name: set-part5-animation;
    border: 1px solid #000c7a;
    background-color: #00109d;
}
.trace {
    width: 100%;
    height: 100%;
    transform: rotateZ(0deg) translateX(0px) translateY(-150px) scaleY(15);

    animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: normal;
    transition-timing-function: ease-out;
}
.trace-part1-animation {
    background: linear-gradient(0deg, #FF59CA, #fca5e0);
    animation-name: trace-animation1;
}
.trace-part2-animation {
    background: linear-gradient(0deg, #C80087, #ff3bbe);
    animation-name: trace-animation2;
}
.trace-part3-animation {
    background: linear-gradient(0deg, #5f3432, #ac625e);
    animation-name: trace-animation3;
}
.trace-part4-animation {
    background: linear-gradient(0deg, #CD004B, #f82472);
    animation-name: trace-animation4;
}
.trace-part5-animation {
    background: linear-gradient(0deg, #00109d, #0328FC);
    animation-name: trace-animation5;
}
.brash-part {
    width: 70px;
    height: 70px;
}
.set-floor1 {
    transform: rotateX(50deg) translate(-50%, -50%) translateZ(-2px);
    border-bottom: 2px solid #0423d3;
}
.set-floor2 {
    transform: rotateX(50deg) translate(-50%, -50%) translateZ(-4px);
    border-bottom: 2px solid #0423d3;
}
.set-floor3 {
    transform: rotateX(50deg) translate(-50%, -50%) translateZ(-6px);
    border-bottom: 2px solid #0423d3;
}
.set-floor4 {
    transform: rotateX(50deg) translate(-50%, -50%) translateZ(-8px);
    border-bottom: 2px solid #0423d3;
}
.set-floor5 {
    transform: rotateX(50deg) translate(-50%, -50%) translateZ(-10px);
}

@keyframes set-part1-animation {
	0% {
        border-radius: 50%;
        border: 1px solid #d0008e;
        background-color: #FF59CA;
        transform: translateZ(500px) translateY(-500px) translateX(-60px) scale3d(2, 2, 2);
        opacity: 0;
	}
    20% {
		border-radius: 50%;
        transform: translateZ(500px) translateY(-500px) translateX(-60px) scale3d(2, 2, 2);
        opacity: 1;
	}
    30% {
		border-radius: 50%;
        transform: translateZ(0) translateX(calc(50% - 2px)) translateY(calc(50% - 2px)) scale3d(1, 1, 1);
	}
	50% {
		border-radius: 5px;
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
        
	}
    98%{
		opacity: 1;
	}
	100%{
		border-radius: 5px;
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
        opacity: 0;
	}
}

@keyframes set-part2-animation {
	0% {
        border-radius: 50%;
        border: 1px solid rgb(114, 0, 78);
        background-color: #C80087;
        transform: translateZ(500px) translateY(-500px) translateX(-30px) scale3d(2, 2, 2);
        opacity: 0;
	}
    5% {
        opacity: 0;
	}
    25% {
		border-radius: 50%;
        transform: translateZ(500px) translateY(-500px) translateX(-30px) scale3d(2, 2, 2);
        opacity: 1;
	}
    35% {
        transform: translateZ(0) translateX(calc(50% - 2px)) translateY(calc(50% - 2px)) scale3d(1, 1, 1);
	}
	50% {
		border-radius: 5px;
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
        
	}
	100%{
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
	}
}

@keyframes set-part3-animation {
	0% {
        border-radius: 50%;
        border: 1px solid rgb(112, 67, 67);
        background-color: #5f3432;
        transform: translateZ(500px) translateY(-500px) translateX(0) scale3d(2, 2, 2);
        opacity: 0;
	}
    10% {
        opacity: 0;
	}
    30% {
		border-radius: 50%;
        transform: translateZ(500px) translateY(-500px) translateX(0) scale3d(2, 2, 2);
        opacity: 1;
	}
    40% {
		border-radius: 50%;
        transform: translateZ(0) translateX(calc(50% - 2px)) translateY(calc(50% - 2px)) scale3d(1, 1, 1);
	}
	50% {
		border-radius: 5px;
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
        
	}
	100%{
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
	}
}

@keyframes set-part4-animation {
	0% {
        border-radius: 50%;
        border: 1px solid #930137;
        background-color: #CD004B;
        transform: translateZ(500px) translateY(-500px) translateX(30px) scale3d(2, 2, 2);
        opacity: 0;
	}
    15% {
        opacity: 0;
	}
    35% {
		border-radius: 50%;
        transform: translateZ(500px) translateY(-500px) translateX(30px) scale3d(2, 2, 2);
        opacity: 1;
	}
    45% {
		border-radius: 50%;
        transform: translateZ(0) translateX(calc(50% - 2px)) translateY(calc(50% - 2px)) scale3d(1, 1, 1);
	}
	50% {
		border-radius: 5px;
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
        
	}
	100%{
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
	}
}
@keyframes set-part5-animation {
	0% {
        border-radius: 50%;
        border: 1px solid #000c7a;
        background-color: #000f96;
        transform: translateZ(500px) translateY(-500px) translateX(60px) scale3d(2, 2, 2);
        opacity: 0;
	}
    20% {
        opacity: 0;
	}
    40% {
		border-radius: 50%;
        transform: translateZ(500px) translateY(-500px) translateX(60px) scale3d(2, 2, 2);
        opacity: 1;
	}
    50% {
		border-radius: 50%;
        transform: translateZ(0) translateX(calc(50% - 2px)) translateY(calc(50% - 2px)) scale3d(1, 1, 1);
	}
	60% {
		border-radius: 5px;
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px)) scale3d(1, 1, 1);
        
	}
	100%{
		border-radius: 5px;
        transform: translateX(calc(50% - 2px)) translateY(calc(50% - 2px));
	}
}

@keyframes set-animation {
	0% {
        opacity: 0;
	}
    10% {
        opacity: 0;
	}
    25% {
        opacity: 1;
	}
    100%{
        opacity: 1;
	}
}

@keyframes brush-animation {
	0% {
        opacity: 0;
	}
    50% {
        opacity: 0;
        transform: translateX(100px) translateY(80px) rotateZ(60deg);
	}
    60% {
        opacity: 1;
	}
    80%{
        transform: translateX(-100px) translateY(92px) rotateZ(90deg);
	}
    100%{
        transform: translateX(-100px) translateY(92px) rotateZ(90deg);
        opacity: 1;
	}
}

@keyframes women-animation {
	0% {
        opacity: 0;
	}
    70% {
        opacity: 0;
	}
    90%{
        opacity: 1;
	}
    100%{
        opacity: 1;
	}
}

@keyframes trace-animation1 {
	0% {
        opacity: 0;
	}
    48% {
        opacity: 0;
	}
    63% {
        opacity: 1;
        transform: rotateZ(0deg) translateX(0px) translateY(0) scaleY(0);
	}
    68%{
        transform: rotateZ(0deg) translateX(0px) translateY(-200px) scaleY(20);
        filter: blur(0px);
	}
    78%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    95%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
        background: linear-gradient(0deg, #FF59CA, rgb(252, 165, 224, 0));
	}
    100% {
        opacity: 0;
	}
}
@keyframes trace-animation2 {
	0% {
        opacity: 0;
	}
    46% {
        opacity: 0;
	}
    61% {
        opacity: 1;
        transform: rotateZ(0deg) translateX(0px) translateY(0) scaleY(0);
	}
    66%{
        transform: rotateZ(0deg) translateX(0px) translateY(-200px) scaleY(20);
        filter: blur(0px);
	}
    76%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    78%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    95%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
        background: linear-gradient(0deg, #C80087, rgb(255, 59, 190, 0));
	}
    100% {
        opacity: 0;
	}
}
@keyframes trace-animation3 {
	0% {
        opacity: 0;
	}
    44% {
        opacity: 0;
	}
    59% {
        opacity: 1;
        transform: rotateZ(0deg) translateX(0px) translateY(0) scaleY(0);
	}
    64%{
        transform: rotateZ(0deg) translateX(0px) translateY(-200px) scaleY(20);
        filter: blur(0px);
	}
    74%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    78%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    95%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
        background: linear-gradient(0deg, #5f3432, rgb(172, 98, 94, 0));
	}
    100% {
        opacity: 0;
	}
}
@keyframes trace-animation4 {
	0% {
        opacity: 0;
	}
    42% {
        opacity: 0;
	}
    57% {
        opacity: 1;
        transform: rotateZ(0deg) translateX(0px) translateY(0) scaleY(0);
	}
    62%{
        transform: rotateZ(0deg) translateX(0px) translateY(-200px) scaleY(20);
        filter: blur(0px);
	}
    72%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    78%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    95%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
        background: linear-gradient(0deg, #CD004B, rgb(248, 36, 114, 0));
	}
    100%{
        opacity: 0;
	}
}
@keyframes trace-animation5 {
	0% {
        opacity: 0;
	}
    40% {
        opacity: 0;
	}
    55% {
        opacity: 1;
        transform: rotateZ(0deg) translateX(0px) translateY(0) scaleY(0);
	}
    60%{
        transform: rotateZ(0deg) translateX(0px) translateY(-200px) scaleY(20);
        filter: blur(0px);
	}
    70%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    78%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
	}
    95%{
        transform: rotateZ(0deg) translateX(0px) translateY(-300px) scaleY(20) scaleX(2);
        filter: blur(5px);
        background: linear-gradient(0deg, #00109d, rgb(3, 40, 252, 0));
	}
    100%{
       opacity: 0;
	}
}

/* Media - 500
===========================================*/
@media (max-width: 500px) {
    .container {
        max-width: 400px;

    }
	.pallet {
        margin-top: 60%;
        margin-left: -15%;
    }

}
/* Media - 350
===========================================*/
@media (max-width: 350px) {
    .container {
        max-width: 350px;

    }
	.pallet {
        margin-top: 60%;
        margin-left: -15%;
    }

}